h1, h2, h3, h4, h5, h6{color: #c0cb7f;}
h1, h2, h3, h4, h5, h6{  font-family: Arial;}
body {background-color: black; font-family: Calibri, Arial;}
p {color: #5e5c56;}
a {color: #677f51; text-decoration: none;}
a:hover {color: blue; text-decoration: underline;}
table {border: 1px solid #a64626; border-collapse: collapse; width: 250px; background-color: #222222; font-weight: bold; }
ul {list-style-type: square; color:#5e5c56; }
ol {list-style-type: lower-greek; color:#5e5c56; }
????????????????????????????????????????????????????????????????????????????? {color:#5e5c56;font-style: italic;}
